.itemContainer {
  width: 500px;
  font-size: 20px;
  margin: 0 auto;
}
.itemName {
  color: #26355d;
  font-weight: bold;
  padding: 15px;
}
.line {
  border: 1px solid #fcf8f3;
}
.deleteButton {
  float: right;
  padding: 5px 20px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: #ffff;
  background-color: #6b8a7a;
  border-radius: 4px;
}
.completed {
  text-decoration: line-through;
}
